VITE_API_URL=http://127.0.0.1:4000/api
VITE_CONTENTFUL_SPACE_ID=
VITE_CONTENTFUL_ACCESS_TOKEN=
VITE_CONTENTFUL_ENVIRONMENT=master
VITE_CONTENTFUL_NEWS_CONTENT_TYPE=newsArticle
VITE_CONTENTFUL_NEWS_LIMIT=4
